<div class="booyah-box
col-xs-10 col-xs-offset-1">
  <h1 >What is Foodster?</h1>
  <hr />
  <br />
  <p > Foodster is a multi-cultural, multi-ethnic database full of the worlds best eats. Foodster is added to each day by regular people who share their favorite eating spots from around the world! Since 2016, we have additions from ranging from The United States to India! We hope to represent many more countries as Foodbook develops. Stay tuned for more updates such as Google Maps directions and User accounts to make your Foodster experience one of a kind!  Please feel free to add your favorite location by pressing the plus sign below! 
  </p>
  <i> ~Foodster, Bringing Together a World of Tast!</i>
  <br />
  <br />
  <div><%= link_to new_place_path do %>
  <i class= "glyphicon glyphicon-plus-sign col-xs-10 col-xs-offset-5"> </i>
 </div>
 
  <% end %>
  </div>
